<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses_list</title>
</head>
<body>
    <h1>Courses list</h1>
    <a href="/" style="float:right" ><h1>Go to Students</h1></a>
    <table id = "all-courses">
    <tr>
        <th>SNo</th>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Course Description</th>
        <th>Actions</th>
    </tr>
        {% for course in courses %}
    <tr>
        <td>{{ loop.index }}</td>
        <td><a href="/course/{{ course.course_id }}">{{ course.course_code }}</a></td>
        <td>{{ course.course_name }}</td>
        <td>{{ course.course_description }}</td>
        <td>
        <a href="/course/{{ course.course_id }}/update">Update</a>
        <a href="/course/{{ course.course_id }}/delete">Delete</a>
        </td>
    </tr>
        {% endfor %}
    </table>
    <a href="/course/create">+Add Course</a>
</body>
</html>